#pageHead {
    width: 100%;
    height: 30%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: 0;
    outline: 0;
    vertical-align: baseline
}

a {
    text-decoration: none
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}


ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th, td {
    vertical-align: middle
}

*, *:before, *:after {
    box-sizing: border-box
}

.left {
    float: left
}


.inline
li {
    display: inline-block;
    vertical-align: middle
}


html[xmlns] {
    display: block
}

* html {
    height: 1%
}

.block_N {
    padding-bottom: 10px;
    font: 12px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif;
    background: #fff
}

.block_N
.Nm {
    display: table;
    position: relative;
    width: 100%;
    margin-top: 14px
}

.ecsite-login
.block_N {
    margin-bottom: 20px
}

.block_N {
    position: relative
}

.ecsite-search
.Nm {
    padding-left: 22px
}

.searchfield
li {
    display: table-cell
}

.searchfield
* {
    vertical-align: middle
}

.style_24h.ecsite-prod
.Nm {
    width: 985px
}

.Hm .msg_box li, .site_nav > ul, .main_site > li, .service > li, .searchfield li, .style_book .service li, .main_site
li {
    float: left
}

.Hm .searchfield, .style_24h.ecsite-hp
.searchfield {
    width: 210px;
    margin: 5px 0;
    padding: 3px 12px;
    border-radius: 2px
}

.searchfield .text, .style_24h.ecsite-hp .searchfield
.text {
    padding-left: 5px;
    width: 122px;
    border-radius: 2px;
    border: 1px solid #999
}

.searchfield
.text {
    font-size: 12px
}

.style_24h
.searchfield {
    padding: 5px 7px;
    border: 1px solid #ddd;
    width: 220px;
    margin: 0 0 5px 0
}

.style_24h .searchfield
.text {
    width: 145px
}


.style_mall
.searchfield {
    padding: 4px 6px
}

.style_mall .searchfield
input {
    height: 36px;
    font-size: 16px
}

.searchfield
input {
    height: 26px
}

.searchfield
.button {
    margin-left: 4px;
    font-size: 12px;
    width: 55px
}

.style_shopping.ecsite-hp
.searchfield {
    background: #cef
}

.style_24h.ecsite-hp
.searchfield {
    border: 0;
    background: #ffeaea
}

.style_mall
.searchfield {
    background: #f1f1f1
}

.style_mall .searchfield
.button {
    width: 70px
}

.style_book .block_H
.searchfield {
    padding: 4px 12px;
    top: 10px;
    left: 350px;
    background: #c0e0f6
}

.style_book .block_H
.searchfield.sub {
    left: 550px;
    background: transparent
}

.style_book .block_H .searchfield.sub
.text {
    width: 80px
}

.style_book .block_H .searchfield {
    position: absolute
}


.searchfield {
    display: table;
    padding: 2px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px
}

.searchfield
li {
    float: none;
    padding: 0 1px
}

.searchfield .text, .searchfield .button, .searchfield
select {
    height: 24px
}

.searchfield
.text {
    margin: 0;
    padding: 2px 4px;
    width: 260px;
    font-family: Arial, Verdana, 'Microsoft JhengHei', sans-serif;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #bbb
}

.searchfield
.button {
    margin-left: 4px;
    padding: 1px 6px;
    font-family: Arial
}

.searchfield
a {
    margin-left: 6px;
    line-height: 26px;
    color: #06c;
    white-space: nowrap;
    text-decoration: underline
}

.searchfield {
    border: 1px solid #f90;
    background: #fee1ad
}

h5, .prod_name, col2f, .col3f, .s_list .c2f {
    overflow: hidden;
    word-break: break-all
}

.keyword_box
li {
    float: left;
    height: 20px;
    margin-right: 6px
}

.keyword_box
a {
    color: #222
}

.keyword_box .s_parenthesis
a {
    color: #06c
}

.keyword_box li:after {
    content: '.'
}


a:focus, button:focus, input {
    outline: none;
    -moz-outline-style: none
}

button, .button {
    cursor: pointer
}

.site_btn select, .site_btn
button {
    vertical-align: middle
}

.site_btn button:after {
    bottom: 3px
}

.orderNotyet button:after, .orderReplenish button:after, .soldOut button:after {
    display: none
}

.orderChoice
button {
    background-position: 0 -25px
}



@media screen and (max-width: 1280px) {
    .layout-center {
        width: 1240px
    }

    .toolbar {
        margin-top: -30px
    }
}

.layout-center {
    background: url("../images/layoutBackGround.png") repeat-y
}

.layout-center {
    float: left
}

.block_W {
    background-image: none;
    padding-top: 0
}

.block_W
dt {
    margin: 1px;
    padding-right: 10px;
    height: 24px;
    color: #333;
    font: 12px/24px Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif;
    text-align: right
}

.block_W
dd {
    padding: 5px;
    width: 176px;
    overflow: hidden
}

.block_W
dt {
    background: #ffb05c
}

.block_W, .block_W + .block_C, .ecsite-sign .block_C, .c1f, .c2f {
    float: left
}

.block_W {
    width: 180px
}

.block_W + .block_C {
    margin-left: 10px
}

.treeview
li {
    clear: both;
    position: relative;
    padding-left: 6px
}

.treeview > li {
    margin: 10px 0
}

.treeview
a {
    margin-left: 15px;
    font: 15px/20px Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif;
    color: #000;
    white-space: nowrap
}

.treeview .main
a {
    font: 13px/2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
}

.treeview .main > li > a {
    margin-left: 24px
}

.treeview .sub
a {
    float: left;
    margin-left: 18px;
    font: 12px/18px Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif;
    color: #666;
    white-space: normal
}


.treeview
a {
    padding: 1px 2px
}

.treeview li.actived
a {
    background: #f33;
    color: #fff
}

.treeview li.actived .main
a {
    color: #000;
    background: none
}

.treeview li.actived .sub
a {
    color: #666;
    background: none
}

.treeview li.actived .sub
a {
    background: none;
    color: #666
}

.treeview .main > li.actived > a {
    background: #f50;
    color: #fff
}

.treeview .sub li.actived
a {
    background: #f80;
    color: #fff
}


.treeview .end ul
li {
    margin-left: 3px
}

.ecsite-hp .block_C, .ecsite-sign .block_C, .ecsite-store .block_C, .ecsite-prod .block_C, .ecsite-prod.style_24h.overlay-lightbox
.block_C {
    width: 800px
}


.style_24h.ecsite-sign
.block_C {
    width: 1052px
}

.style_24h.ecsite-region .block_C, .style_24h.ecsite-store .block_C, .style_24h.ecsite-prod
.block_C {
    width: 1050px
}

.block_C
.Cm {
    padding-bottom: 30px
}

.block_C
em {
    font-style: normal
}

.block_C {
    width: 1050px
}

.addCart
button {
    background-position: 0 -100px
}

.style_global_en .addCart
button {
    background-position: 0 -125px
}

.orderNotyet
button {
    background-position: 0 -150px
}

.style_global_en
button {
    background-position: 0 -175px
}

.moreDiscount
button {
    width: 90px;
    background-position: 0 -200px
}

.style_global_en .moreDiscount
button {
    width: 110px;
    background-position: 0 -225px
}

.orderReplenish
button {
    background-position: 0 -250px
}

.addTourCart
button {
    background-position: 0 -350px
}

.style_global_en .orderReplenish
button {
    background-position: 0 -275px
}

.soldOut
button {
    width: 136px;
    background-position: 0 -300px
}

.style_global_en .soldOut
button {
    width: 110px;
    background-position: 0 -325px
}

.reservation
button {
    background-position: 0 -375px
}

.site_btn button, .add24hCart
label {
    padding: 1px 4px;
    color: #fff;
    height: 22px;
    font-size: 12px;
    text-indent: 0;
    text-shadow: 1px 1px 0 #000;
    letter-spacing: 0.5px;
    background: none;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, .8) inset, -1px -1px 2px rgba(0, 0, 0, .8) inset
}

.style_global_en .site_btn
button {
    font-weight: bold;
    letter-spacing: 0.2px
}

.add24hCart
button {
    text-align: left;
    letter-spacing: 0;
    background-color: #c80004
}

.add24hCart button
span {
    display: inline-block;
    padding: 3px 0;
    margin-bottom: 0
}

.add24hCart button span:last-child {
    margin-left: 32px
}

.moreDiscount button, .style_global_en .moreDiscount button, .limited
button {
    text-align: left;
    background-color: #c80004
}

.moreDiscount
button {
    padding-left: 8px
}

.limited
button {
    text-align: center
}

.style_global_en .moreDiscount
button {
    padding-left: 6px
}

.orderReplenish button, .style_global_en .orderReplenish
button {
    background-color: #f40045
}

.soldOut button, .style_global_en .soldOut
button {
    color: #666;
    font-size: 12px;
    text-shadow: none;
    background-color: #ddd
}

.orderNotyet button, .style_global_en .orderNotyet
button {
    background-color: #f60
}

.orderChoice button, .addBigCart button, .orderNow button, .reservation button, .subscribe
button {
    color: #000;
    text-shadow: 1px 1px 0 #fff;
    background-color: #e0f400
}

.orderNotyet button, .orderNow button, .reservation
button {
    letter-spacing: 2px
}

.addCart button, .style_global_en .addCart
button {
    background-color: #fb4800
}

.addTourCart
button {
    text-shadow: none;
    background-color: #0096f4
}

.site_btn button:after, .add24hCart button:before, .orderChoice button:before {
    content: '';
    display: block;
    background: url('//fs.ecimg.tw/css/2016/style/images/v201607/product/beta/icons_btn.svg')
}

.site_btn button:after {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 3px;
    bottom: -2px;
    background-position: 0 -19px
}

.orderNotyet button:after, .orderReplenish button:after, .soldOut button:after, .limited button:after {
    display: none
}

.add24hCart button:before {
    width: 30px;
    height: 14px;
    position: absolute;
    left: 28px;
    bottom: 4px;
    background-position: 0 0
}

.orderChoice button:before {
    margin-right: 2px;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background-position: -18px -19px
}

.s_list .slogan
button {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px
}

.s_list .c3f .fieldset_box select, .c3f .fieldset_box
button {
    float: left
}

.s_list .c3f .fieldset_box
button {
    margin: 0
}

.gobrand
button {
    text-shadow: none;
    background-color: #0096f4
}

.gobrand button:after {
    display: none
}

.bar_spinbtn
.button {
    font: 12px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
}

.site_popTrace
.button {
    margin-right: 6px
}

.block_C .site_btn.startBid
button {
    font-family: Verdana, Helvetica, Arial, "Microsoft jhenghei", sans-serif;
    background: #d00;
    width: 160px;
    height: 42px;
    border-radius: 5px;
    text-indent: inherit;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    padding-right: 40px;
    margin-right: 4px;
    box-shadow: 4px 4px 0 0 rgba(211, 211, 211, 0.5)
}

.block_C .site_btn.startBid.disabled
button {
    background: #ccc;
    cursor: default
}

.site_
.prod_bto .site_btn
button {
    height: 24px
}

popTrace
.button {
    margin-right: 6px
}


.ecsite-layout {
    font: 13px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
}

.ecsite-hp .layout-wrapper, .style_24h.ecsite-sign .layout-wrapper, .style_24h.ecsite-region .layout-wrapper, .style_24h.ecsite-store .layout-wrapper, .style_24h.ecsite-prod .layout-wrapper, .style_shopping.ecsite-search .layout-wrapper {
    width: 1250px
}

.style_24h .s_list .c2f, .style_shopping .s_list
.c2f {
    width: 610px
}


.main_site li, .sub_site li {
    position: relative
}


@media screen and (max-width: 1024px) and (-webkit-device-pixel-ratio: 1) {
    .style_24h .s_list .c2f, .style_shopping .s_list
    .c2f {
        width: 370px
    }

    .style_24h .s_list .Cm, .style_24h.ecsite-prod
    .block_C {
        width: 800px
    }


    .style_24h
    .block_C {
        padding: 0
    }

    .style_24h.ecsite-prod .Ct .site_evt li + li {
        display: none
    }

    .ecsite-store .Cm .site_loop
    dd {
        width: 160px;
        padding: 0 6px
    }

    .prod_recommend .body
    dd {
        margin: 0 28px 30px;
        width: 204px
    }

    .ecsite-prod .Cb
    img {
        max-width: 800px
    }


    .style_shopping .service .more ~ li, .style_24h .service .more ~ li, .style_mall.ecsite-hp .service .more ~ li {
        display: none
    }

    .row4f
    a {
        height: 20px;
        font: 13px/1.7 pMingliu
    }



    .Hm .prod_img{
        float: left;
        overflow: hidden
    }

    .Hm .prod_info li
    a {
        color: #069
    }


    .ecsite-search .layout-wrapper, .ecsite-search .layout-center{
        width: 990px
    }

    .ecsite-search
    .block_C {
        width: 800px
    }

    .Cb .prod_choice .body dd, .Cb .prod_choice .body dd:nth-child(6n+1) {
        margin-left: 5px
    }

    .Cb .prod_choice .body dd:nth-child(5n+1) {
        margin: 0
    }


    .ecsite-prod .Ct_C
    .prod_name {
        width: 605px
    }

    .style_overseas.ecsite-prod .Ct_C
    .prod_name {
        width: 544px
    }
}

@media screen and (min-width: 1025px) {
    #CONTENT .site_marketing a:hover {
        text-decoration: none
    }

    #CONTENT .bar_prodnav
    a {
        text-decoration: underline
    }

    #CONTENT .prod_btoInfo
    a {
        text-decoration: underline
    }

    .layout-wrapper {
        margin: 0 auto;
        padding: 0 5px;
        width: 1000px
    }

    .ecsite-edm .layout-wrapper, .ecsite-mkt .layout-wrapper {
        width: 942px
    }

    .ecsite-checkout .layout-wrapper, .ecsite-prod.overlay-lightbox .layout-wrapper, .ecsite-prod.style_24h.overlay-lightbox .layout-wrapper {
        width: 810px
    }

    .layout-wrapper:after, .layout-center:after, .block_C:after, .Cm:after, .Cm_C:after, .rating_box dd:after {
        content: '.';
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0
    }

    .ecsite-edm .layout-wrapper, .ecsite-edm
    .block_C {
        overflow: visible
    }


    .prod_choice .prod_img, .site_loop .prod_img, .ecsite-store .mMV .prod_img, .ecsite-store .mMH .prod_img, .s_list .prod_img {
        width: 120px;
        height: 120px
    }

    .vc_120 img, .prod_choice img, .site_loop img, .ecsite-store .mMV img, .ecsite-store .mMH img, .s_list .prod_img img, .style_book .s_list .prod_img img, .brand_img
    img {
        max-height: 120px
    }

    .s_list
    .prod_img {
        position: relative
    }

    .s_list .prod_img .s_ticrf + img {
        opacity: 0.5
    }

    .s_list
    .col3f {
        position: relative;
        padding: 20px 10px 20px 0;
        border-bottom: 1px solid #ccc;
        overflow: hidden
    }

    .s_list .col3f
    dd {
        float: left
    }

    .s_list
    .c1f {
        margin-top: 12px;
        margin-left: 10px;
        width: 130px;
        height: 130px;
        color: #000;
        border: 5px solid #fff;
        background: #fff
    }

    .s_list
    .c2f {
        margin: 0 14px;
        width: 370px;
        color: #666;
        font: 12px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
    }


    .s_list .c2f .prod_name
    a {
        display: block;
        margin-top: 4px;
        font: bold 16px/1.4 Arial, Verdana, 'Yu Gothic', 'MS Gothic', 'Microsoft JhengHei', Helvetica, sans-serif;
        color: #03c
    }


    .s_list
    #bookInfo {
        margin: 4px 0 8px;
        font: 12px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif;
        overflow: hidden
    }

    .s_list #bookInfo
    li {
        float: left;
        padding-right: 2px;
        color: #8a8a8a;
        white-space: nowrap
    }

    .s_list #bookInfo li + li:before {
        margin: 0 4px 0 -2px;
        content: ','
    }

    .s_list #bookInfo
    a {
        margin-right: 4px;
        color: #8a8a8a;
        font: 12px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
    }

    .s_list #bookInfo a:hover {
        color: #555
    }

    .s_list #bookInfo
    span {
        display: inline
    }

    .s_list
    .c3f {
        width: 252px;
        margin-top: 42px;
        text-align: right
    }

    .s_list .c3f
    .price_box {
        margin-bottom: 2px;
        font: 12px Verdana, Arial, Helvetica;
        color: #222
    }

    .s_list .c3f .fieldset_box + a {
        display: block;
        margin-top: 12px;
        font-size: 12px
    }


    .s_list .c3f .fieldset_box
    li {
        float: right
    }


    .s_list .c3f
    select {
        height: 22px;
        margin-right: 3px
    }


    .s_list .site_marketing
    li {
        padding-right: 4px
    }


    .s_list .tag_box
    li {
        padding-right: 4px
    }


    .s_list
    .col3f {
        min-height: 194px
    }


    .Cm_Cr .payment
    li {
        position: relative;
        margin-right: 2px;
        line-height: 17px
    }

    .Cm_Cr .payment
    a {
        padding-left: 2px
    }

    .mL .prod_img, .ecsite-prod .Cm_Cl > .prod_img {
        width: 360px;
        height: 360px
    }

    .vc_360 img, .style_book .vc_360 img, .mL .prod_img img, .ecsite-prod .Cm_Cl > .prod_img
    img {
        max-height: 360px
    }

    .style_24h .s_grid .Cm .site_loop
    dd {
        padding: 0 6px
    }


    .Cm .label_box
    li {
        display: inline;
        position: relative
    }

    .Cm .label_box li + li {
        margin-left: 4px
    }


    .Cm .tag_box.s_label
    li {
        display: inline;
        position: relative
    }

    .Cm {
        background: #fffcec
    }

    .Cm_Cr .payment_box
    .price_box {
        text-align: right
    }

    .Cm_Cl .msg
    dt {
        float: left
    }

    .Cm_Cl .msg
    dd {
        margin-left: 12px
    }

    .Cm_Cl .site_phone
    dt {
        margin-bottom: 6px;
        color: #333
    }

    .Cm_Cl .site_phone
    table {
        width: 100%;
        border: 6px solid #eee;
        border-collapse: collapse;
        border-spacing: 0
    }

    .Cm_Cl .site_phone
    td {
        padding: 6px 8px;
        line-height: 1.5
    }

    .Cm_Cl .s_bg
    td {
        padding: 0;
        text-align: center;
        font: 12px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif;
        background-color: #eee
    }

    .Cm_Cl .s_bg
    b {
        position: relative;
        top: 2px;
        color: #555;
        font-size: 20px;
        font-weight: bold
    }

    .Cm_Cr .bar_bonus
    p {
        color: #333;
        font: 12px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
    }

    .Cm_Cr .bar_bonus
    i {
        padding: 0 2px;
        color: #ff007c;
        font: bold 16px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
    }

    .Cm_Cr .bar_bonus
    span {
        color: #666;
        font: 12px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
    }

    .Cm_Cr .bar_bonus
    a {
        margin: 0 15px 0 2px;
        font-size: 12px
    }

    .Cm_Cr dl.msg
    dt {
        float: left
    }

    .Cm_Cr .onsale_box
    dt {
        color: #333;
        font: 15px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
    }

    .Cm_Cr .onsale_box dt:after {
        content: '.';
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0
    }

    .Cm_Cl .prod_choice
    dt {
        padding: 2px 6px;
        margin-bottom: 4px;
        border: 0;
        font: bold 13px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif;
        background: #ddd
    }

    .Cm_Cl .prod_choice .body
    dd {
        margin: 0 0 4px 8px
    }

    .Cm_Cl .prod_choice .body dd:first-child, .Cm_Cl .prod_choice .body dd:nth-child(2n+1) {
        margin-left: 0
    }

    .Cm_Cr .list_box li, .Cm_Cr .check_box
    li {
        padding: 6px
    }

    .Cm_Cr .list_box
    li {
        padding-left: 26px
    }

    .Cm_Cr .prod_option
    input {
        margin: 3px 0 0 10px
    }

    .Cm_Cr .prod_option
    dt {
        margin-bottom: 3px;
        padding-left: 4px;
        color: #000;
        background: #eee;
        border: 1px solid #ddd;
        font: bold 12px/1.5 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
    }


    .Cm_Cr .prod_option
    dd {
        margin-bottom: 10px
    }

    .Cm_Cr .bid_box .body dl dt, .Cm_Cr .bid_box .body dl
    dd {
        display: inline-block;
        margin-right: -4px;
        padding: 5px 0
    }

    .Cm_Cr .bid_box .body dl
    dt {
        width: 115px;
        text-align: right;
        border-right: #c1c1c1 solid 1px;
        padding-right: 8px
    }

    .Cm_Cr .bid_box .body dl
    dd {
        width: 305px;
        margin-left: 5px
    }


    .prod_bto
    .col3f {
        margin: 0;
        padding: 4px 0
    }

    .Cb .col3f
    .c2f {
        margin: 0 10px;
        padding: 2px 10px;
        height: 32px;
        overflow: hidden;
        background: #e5e5e5
    }

    .Cb .col3f
    select {
        font: 12px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
    }


    .Cb .col3f .s_price
    i {
        font-size: 18px;
        vertical-align: -2px
    }

    .prod_bto
    .c1f {
        width: 110px;
        font: 15px/26px Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif;
        text-align: right
    }

    .prod_btoInfo
    .c1f {
        max-width: 130px
    }

    .prod_btoInfo .c1f
    b {
        display: block;
        width: 114px;
        float: left;
        padding-left: 6px;
        font: 15px/22px Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
    }

    .ecsite-hp .site_onsale
    .prod_img {
        float: left;
        padding: 10px 15px;
        background: #FFD5D5
    }

    .style_mall .site_onsale
    .prod_img {
        background-color: #ffe0c5
    }


    .prod_img:hover, .prod_img a:hover, .brand_img a:hover {
        text-decoration: none
    }

    .prod_img:after {
        display: inline-block;
        content: '';
        height: 100%;
        vertical-align: middle
    }

    .prod_img img, .brand_img
    img {
        display: inline;
        max-width: 100%;
        vertical-align: middle
    }

    .prod_recommend .site_loop
    .prod_img {
        width: 200px;
        height: 200px
    }

    .prod_recommend .site_loop .prod_img
    img {
        max-height: 200px
    }

    .prod_btoInfo
    .prod_img {
        display: block;
        margin-bottom: 16px;
        float: left;
        width: 130px;
        height: 130px;
        border: 5px solid #eee
    }

    .prod_btoInfo .prod_img
    img {
        max-width: 100%;
        max-height: 100%
    }

    .s_brand_site
    .c2f {
        margin: 58px 13px
    }

    .s_brand_site .c2f > a:hover {
        color: #333
    }

    .c2f
    em {
        background: #9ff
    }

    .prod_bto
    .c2f {
        position: relative;
        float: left;
        width: 760px
    }

    .prod_bto .c2f
    strong {
        position: absolute;
        top: 0;
        right: 6px
    }

    .tag_box {
        text-align: left;
        height: 20px
    }

    .tag_box:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0
    }

    .tag_box
    li {
        float: left
    }

    .Ct_S .site_marketing .tag_box
    a {
        display: block;
        width: 100%;
        position: relative
    }

    .Ct_S .site_marketing .tag_box
    span {
        display: inline-block;
        font: 12px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
    }

    .site_loop .prod_name a, .site_loop .nick
    a {
        color: #222;
        font: bold 13px/1.3 Arial, Verdana, 'Yu Gothic', 'MS Gothic', 'Microsoft JhengHei', Helvetica, sans-serif;
        white-space: normal
    }

    .site_onsale
    .prod_name {
        margin: 8px 0;
        height: 40px;
        font: 12px/1.6 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
    }


    .prod_noimg
    .prod_name {
        height: 166px;
        font: 13px/1.4 Verdana, Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
        white-space: normal;
        overflow: hidden
    }

    .noimg_360
    .prod_name {
        font: bold 23px/1.2 Arial, Verdana, 'Yu Gothic', 'MS Gothic', 'Microsoft JhengHei', Helvetica, sans-serif
    }

    .noimg_200
    .prod_name {
        padding: 30px 0;
        width: 120px;
        height: 120px
    }

    .noimg_160
    .prod_name {
        padding: 30px 0;
        width: 82px;
        height: 100px
    }

    .noimg_120
    .prod_name {
        padding: 26px 0;
        width: 82px;
        height: 90px;
        font-size: 12px
    }

    .style_book .noimg_120
    .prod_name {
        width: 70px;
        height: 88px
    }

    .noimg_80
    .prod_name {
        padding: 10px 0;
        width: 48px;
        height: 72px;
        font-size: 12px
    }

    .noimg_50 .prod_name {
        text-indent: -9999px
    }

    .prod_choice
    .prod_name {
        margin: 2px 0;
        height: 54px
    }

    .prod_choice .prod_name a, .prod_choice .prod_name
    span {
        color: #000;
        font: 13px/1.4 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif;
        white-space: normal
    }

    .Ct_C
    .prod_name {
        float: left;
        padding: 6px 0 0 15px;
        width: 605px;
        color: #888;
        font: 13px/18px Arial, Verdana, 'Microsoft JhengHei', Helvetica, serif
    }


    .s_brand_site
    .c3f {
        margin: 60px 0px
    }

    .c3f .s_prime-limited li:first-child {
        color: #999
    }

    .Cb
    .c3f {
        color: #ff007c;
        font: bold 16px/26px Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif;
        text-align: right
    }

    .prod_btoInfo .c3f
    a {
        margin-left: 5px;
        font: 13px/1.2 Arial, Verdana, 'Microsoft JhengHei', Helvetica, sans-serif
    }

    .site_loop
    .price_box {
        margin: 4px auto;
        font: 12px/1.5 Verdana, Arial, Helvetica
    }

    .site_loop .price_box
    select {
        min-width: auto;
        width: 34px
    }

    .site_onsale .price_box a:after {
        content: '>'
    }

    .payment_box
    .price_box {
        margin-bottom: 10px;
        padding-top: 14px;
        font-size: 13px
    }

    .payment_box
    .price_box {
        position: relative
    }


    .prod_choice .price_box
    a {
        margin-left: 2px;
        color: #06c
    }


    .prod_bto
    .price_box {
        color: #666
    }
}

#pageHead{
    width: 100%;
    height: 30%;
}
.prod_area{
    display: flex;
    flex-direction: row;
}
.div_productPage{
    width:500px;
    height: 500px;
    margin: 20px;
    float:left;
}
#productPhoto {
    width: 500px;
    height: 500px;
}
.mealDescription{
    font-size: 18px;
}