.panel {
	border: 2px solid #ecb714;
	border-radius: 5px;
	width: 100%;
}

.message-area {
	height: 350px;
	width:600px;
	resize: none;
	box-sizing: border-box;
	overflow: auto;
	background-color: #ffffff;
}
.input-area {
	background: #ecb714;
	
}

.input-area input {
	margin: 0.5em 0em 0.5em 0.5em;
	border-radius: 5px;
}

.text-field {
	border: 1px solid grey;
	padding: 0.2em;	
}

#message {
	min-width: 50%;
	max-width: 60%;
}

.statusOutput {
	background: #ecb714;
	text-align: center;
	color: #ffffff;
	border: 1px solid;
	padding: 0.2em;
	box-shadow: 0 0 5px;
	border-radius: 5px;
}
#area{
  list-style: none;
  margin: 0;
  padding: 0;
}

.message-area li  {
  display:inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

.friend{
  background: #eee;
  float: left;
}

.me{
  float: right;
  background: #ecb714;
  color: #fff;
}

.friend + .me{
  border-bottom-right-radius: 5px;
}

.me + .me{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.me:last-of-type {
  border-bottom-right-radius: 30px;
}