<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/jihaoshi</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    <filter>
        <filter-name>indexFilter</filter-name>
        <filter-class>com.manager.Filters.indexFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>indexFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>mealmgrFilter</filter-name>
        <filter-class>com.manager.Filters.mealMgrFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>mealmgrFilter</filter-name>
        <url-pattern>/ztest/mealsManag.jsp</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>webmgrFilter</filter-name>
        <filter-class>com.manager.Filters.webMgrFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>webmgrFilter</filter-name>
        <url-pattern>/ztest/webManag.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>coursemgrFilter</filter-name>
        <filter-class>com.manager.Filters.courseMgrFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>coursemgrFilter</filter-name>
        <url-pattern>/ztest/courseManag.jsp</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>empmgrFilter</filter-name>
        <filter-class>com.manager.Filters.empMgrFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>empmgrFilter</filter-name>
        <url-pattern>/manager/addManager.jsp</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>servicemgrFilter</filter-name>
        <filter-class>com.manager.Filters.serviceMgrFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>servicemgrFilter</filter-name>
        <url-pattern>/ztest/serviceManag.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>servicemgrFilter</filter-name>
        <url-pattern>/member/listAllMember.jsp</url-pattern>

    </filter-mapping>
</web-app>
